@charset 'UTF-8';

.wrapper {
    position: relative;
}

.info {
    z-index: 3;
    width: 272px;
    opacity: 0;
    right: calc(272px * -.5 + 25%);
    top: -40px;
    display: inline-block;
    position: absolute;
    padding: 10px;
    font-size: 0.8rem;
    border-radius: 10px;
    border: 1px solid black;
    background: white;
    color: black;
    box-shadow: 3px 3px 5px gray;
    transition: 0.6s all;
    white-space: pre-wrap;

    &.bottom {
        top: 20px;
    }

    &.right {
        right: calc(272px * -1 - 25%);
        top: -10px;
    }

    &.left {
        right: calc(272px * 0 + 100%);
        top: -10px;
    }
}

img {
    width: 1.2rem;
}

.icon {
    cursor: help;
    
    &:hover,
    &:focus {
        + .info {
            opacity: 1;
        }
    }
}
