##############################################
#### direnv
##############################################

#### PHP
##############################################
layout php
PATH_add bin

#### CONFIGURATION
##############################################
# DEBUG
##############################################
ENV_DIR_DEBUG=true

export PRJ_NAME="inane-fw"
export PRJ_WEBROOT="./public"

## OPTIONS
INIT_FILE=${INIT_FILE:=1}

if on_git_branch "master"; then
    INIT_FILE=0
fi

#### OTHER
##############################################
dmsg "Environment: ${PRJ_NAME}"

if [[ $INIT_FILE == 1 ]]; then
    # clean .DS_Store files
    clean-files-osx
fi
