<?php

declare(strict_types = 1);

// .env.php
/*
EMERG	:0
ALERT	:1
CRIT	:2
ERR		:3
WARN	:4
NOTICE	:5
INFO	:6
DEBUG	:7
*/
return [
	'ENVFILE_ENV' => '.env',
	'XCFG_ENV' => true,
	'APPID' => 'Inane',
	'APP_KEY' => '',
	'INSTANCE_NAME' => 'INANE',
	'REST_PAGESIZE' => 20,
	'DEV' => 0,
	'LOG_LEVEL' => 4,
	'DIAGNOSTIC_TOKEN' => 'hhdatqvqp7klet56',
];

// .env.dev.php
return [
	'ENVFILE_ENV_DEV' => '.env.dev',
	'XCFG_DEV' => true,
	'DEV' => 1,
	'REST_PAGESIZE' => 5,
	'INSTANCE_NAME' => 'INANE_DEV',
	'LOG_LEVEL' => 7,
];

// .env.custom.php
return [
	'ENVFILE_ENV_CUSTOM' => '.env.custom',
	'XCFG_CUSTOM' => true,
	'FUNNY_NAME' => 'Haha'
];
