<?php

/**
 * Config: autoload
 *
 * Global console configuration.
 *
 * Setup the console for the application.
 */

declare(strict_types=1);

return [
    'components' => [
        \Knot\Lotto\Lottery\Lotto::class => [
            'display' => [
                'active' => true,
                'expired' => true,
            ],
            'tickets' => [
                ['2026-01-24', 'Lotto', 10, 5, 502, [11.1, 11.8, 0, 0, 0, 0, 0, 0, 0, 0]],
                ['2026-01-24', 'PowerBall', 10, 5, 377, [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]],
                ['2026-08-17', 'Lotto', 3, 2, 60, [0, 0, 0]],
                ['2026-08-17', 'PowerBall', 3, 1, 45, [0, 0, 0]],
            ],
        ],
    ],
];
